---
Language: Cpp
BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 92
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Attach
BreakBeforeBinaryOperators: All
NamespaceIndentation: All
PointerAlignment: Left
SortIncludes: true
SpaceAfterTemplateKeyword: false
SpaceBeforeParens: Always
# SpaceBeforeParens: Custom
# SpaceBeforeParensOptions:
#   AfterControlStatements: true
#   AfterForeachMacros: true
#   AfterFunctionDeclarationName: true
#   AfterFunctionDefinitionName: true
#   AfterIfMacros: true
#   AfterOverloadedOperator: true
#   AfterPlacementOperator: true
#   AfterRequiresInClause: true
#   AfterRequiresInExpression: true
#   BeforeNonEmptyParentheses: true
BinPackParameters: false
BinPackArguments: false
AlignAfterOpenBracket: BlockIndent
AllowAllParametersOfDeclarationOnNextLine: true
AllowAllArgumentsOnNextLine: false

TabWidth: 2
UseTab: Never
